<div class="grid-container">
    <div>
        <div style="position: fixed;z-index: 1;">
            <button mat-button (click)="fileInput.click()">
                <mat-icon>open_in_browser</mat-icon>
                <span> Open</span>
                <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
            </button>
            <button mat-button (click)="screenshot()">
                <mat-icon>add_a_photo</mat-icon>
                <span> Save</span>
            </button>
            <button mat-button (click)="previous()">
                    <mat-icon class="icon-flipped">forward</mat-icon>
                </button>
            <span>{{currentPage}} / {{numPages}}</span>
            <button mat-button (click)="next()">
                <mat-icon>forward</mat-icon>
            </button>
        </div>
        <div id="pdf">
                <pdf-viewer class="pdfViewer" [src]="pdfSrc" [render-text]="true" [stick-to-page]="true" [show-all]="true"
                [(page)]="currentPage"
                (after-load-complete)="callBackFn($event)">
            </pdf-viewer>
        </div>

    </div>
</div>